[Unit]
Description=HY2 VPN Admin
After=network.target

[Service]
Type=simple
WorkingDirectory=/www/self_vpn
ExecStart=/usr/bin/node /www/self_vpn/server.js
Restart=always
RestartSec=3
Environment=ADMIN_CONFIG_PATH=/www/self_vpn/admin.config.json

[Install]
WantedBy=multi-user.target